* {
    font-family:'Times New Roman', Times, serif
}

.header {
    
    padding-top: 10px;
    text-align: center;
}

.headerColor {
    background-color: rgb(48, 58, 73);
}

.title {
    color:rgb(255, 255, 255);
    font-size:6vw;
}

.contactInfo {
    
    color: white;
    font-size: 2vw;
}

#title {
    font-weight:bold;
    text-decoration:white;
    padding-top: -30px;
    text-align: center;
    
}

#menuOption {
    color: white;
    transition: background-color 0.75s;
    border-color:white;
    border-width: 1px;
    border-style: solid;
    font-size: 2vw;
   
}

#menuOption:hover {
    background-color: goldenrod;
    color: black;
}

.bigImage {
    width:100%;
    border-radius: 50%;
}

.bodySection {
    text-align:center;
    padding:30px;
    
}

.homeHeader {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: black;
    margin-bottom:5px;
    font-size: 3vw;
}

.menu {
    padding-top: 10px;
    padding-bottom:10px;
}


#whiteTrans {
    border-top-width:2px;
    border-top-style:solid;
    border-top-color: goldenrod;
    

}

.bodyColor {
    background-color: rgb(196, 184, 184);
}

.footer {
    text-align:center;
    color: rgb(0, 0, 0);
    font-weight:bolder;
    font-size: 20px;
    border-top-width:1px;
    border-top-style:solid;
    border-top-color:goldenrod
}

p {
    font-size: 20px;
}

.center {
    text-align:center;
}

.left {
    text-align:left;
}

.right {
    text-align:right;
}

.underline {
    text-decoration:underline;
}

.skillIcon {
    width:50%;
}

.smallVertPad {
    padding-top:5px;
    padding-bottom:5px;
}
.medVertPad {
    margin-bottom:10px;
}

.bottomBorder {
    border-bottom-color:black;
    border-bottom-width:2px;
    border-bottom-style: solid;
}

.leftMarg {
    margin-left:3px;
}

.rightMarg {
    margin-right: 3px;
}


.bigPad {
    padding-top: 20px;
    padding-bottom: 20px;
}

.jobImage {
    height: 17vw;
}

.bioText {
    font-size: 1.8vw;
}

.bioSecondRow {
    text-align:center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: -20px;
}

.experienceFont {
    font-size: 1vw;
}

.sectionHeader {
    font-size:3vw;
    padding-bottom: 2.5%;
}

.jobSectionTop {
    border-top-width:1px;
    border-top-style: solid;
    border-top-color: black;
    padding-top: 2%;
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color:black;
    padding-bottom: 2%;
}

.jobSectionBottom {
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color:black;
    padding-top:2%;
    padding-bottom: 2%;
}

ul {
    list-style-type: none; /* Remove default bullet points */
    padding-left: 0; /* Optional: Remove default left padding for the list */
  }

  li {
    position: relative; /* Set the position of the list item as relative */
    padding-left: 2em; /* Add left padding for the entire list item */
    line-height: 1.5; /* Adjust line height for better spacing */
  }

  li::before {
    content: "- "; /* Add the dash using the content property */
    position: absolute; /* Set the position of the dash as absolute */
    left: 0; /* Position the dash at the leftmost side of the list item */
  }

.leftAlign {
    text-align: left;
}

.skillText {
    font-size: 1.8vw;
}

.skillSubHead {
    font-size: 3vw;
}

.skillHeader {
    font-size: 4vw;
}

.projectTitle {
    font-size: 2vw;
}

.recipediaImage {
    width: 28vw;
}

.jobTitle {
    font-size: 1.5vw;
}

.miamiLogo {
    width: 15vw;
}

.miamiFont {
    font-size: 2vw;
}