* {
    font-family:'Times New Roman', Times, serif
}

.header {
    
    padding-top: 10px;
    text-align: center;
}

.headerColor {
    background-color: rgb(48, 58, 73);
}

p.title {
    color:white;
    font-size:75px;
}

.contactInfo {
    
    color: white;
    font-size: 20px;
}

#title {
    font-weight:bold;
    text-decoration:white;
    padding-top: -30px;
    text-align: center;
    margin-bottom: -18px;
    
}

#menuOption {
    color: white;
    transition: background-color 0.75s;
    border-color:white;
    border-width: 1px;
    border-style: solid;
    font-size: 20px;
   
}

#menuOption:hover {
    background-color: goldenrod;
    color: black;
}

.bigImage {
    width:100%;
    border-radius: 50%;
}

.bodySection {
    text-align:center;
    padding:30px;
    
}

.homeHeader {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: black;
    margin-bottom:5px;
}

.menu {
    padding-top: 10px;
    padding-bottom:10px;
}


#whiteTrans {
    border-top-width:2px;
    border-top-style:solid;
    border-top-color: goldenrod;
    

}

.bodyColor {
    background-color: rgb(196, 184, 184);
}

.footer {
    text-align:center;
    color: rgb(0, 0, 0);
    font-weight:bolder;
    font-size: 20px;
    border-top-width:1px;
    border-top-style:solid;
    border-top-color:goldenrod
}

p {
    font-size: 20px;
}

.center {
    text-align:center;
}

.left {
    text-align:left;
}

.right {
    text-align:right;
}

.underline {
    text-decoration:underline;
}

.skillIcon {
    width:50%;
}

.smallVertPad {
    padding-top:5px;
    padding-bottom:5px;
}
.medVertPad {
    margin-bottom:10px;
}

.bottomBorder {
    border-bottom-color:black;
    border-bottom-width:2px;
    border-bottom-style: solid;
}

.leftMarg {
    margin-left:3px;
}

.rightMarg {
    margin-right: 3px;
}


.bigPad {
    padding-top: 20px;
    padding-bottom: 20px;
}

.jobImage {
    width: 100%;
}

p.smallText {
    font-size: 25%;
}